extends ../layout

include ../includes/admin-mixins

append content

  h1 Add new certificate
  form(method="post", action="/certificates/" + certificate._id)
    .control-group
      label Name
      input(type="text", name="name", value=certificate.name)
    .control-group
      label Email
      input(type="email", name="email", value=certificate.email)
    .control-group
      label Company
      input(type="text", value=certificate.company)
    .control-group
      label Uuid
      input(type="text", name="uuid", value=certificate.uuid)
    .form-actions
      button.btn(type="submit") Submit
      a(href="/certificates").btn Cancel
  form(method="post", action="/certificates/" + certificate._id + "/delete")
      button.btn.btn-warning.btn-large.pull-right(type="submit") Delete