extends ../layout

include ../includes/admin-mixins

append content
   
  ul
    -courses.forEach(function (course) {
      li
        h3
          a(href="/courses/" + course._id ) !{course.name}
        p !{courses.duration}
    -})



  a(href="/courses/new").btn.btn-large.btn-info New Course