extends ../layout

include ../includes/admin-mixins

append content
 
  .main  

append scripts
  script 
    define('editview', 
      [ 'courses/courseview', 'courses/coursemodel' ], 
      function(CourseView, CourseModel) {
       
        // Create view
        var view = new CourseView({
          model: new CourseModel(!{JSON.stringify(course)}),
          el: $('.main')
        });

        // render it
        view.render();
      });

   