extends ../layout

include ../includes/admin-mixins

append content
  
  .main  
  a(href="/courses") Back


append scripts
  script 
    define('editview', 
      [ 'courses/editview', 'courses/model' ], 
      function(CourseView, CourseModel) {

        // Create view
        var view = new CourseView({
          model: new CourseModel(!{JSON.stringify(course)}),
          el: $('.main')
        });

        // render it
        view.render();
      });