extends ../layout

include ../includes/admin-mixins

append content
  
  ul
    -editions.forEach(function (edition) {
      li
        a(href="/courses/" + edition.courseUUID + "/editions/" + edition.id )  (#{edition.date}) #{edition.courseUUID} - #{edition.venue}
    -})

  
