extends ../layout

include ../includes/admin-mixins

append content

 h1 Edition  info

  form(method="post", action="#" )
    .control-group
      label venue
      input(type="text", name="venue", value=edition.venue, readonly="true")


    .form-actions
      a(href="/editions").btn Cancel


  script
    alert("scripting here");