extends ../layout

include ../includes/admin-mixins

append content

  ul
    -editions.forEach(function (edition) {
      li
        h3
          a(href="/editions/" + edition._id ) !{edition.date}
        p !{edition.venue}
        p !{edition.instructor}
    -})
 
  a(href="/editions/new").btn.btn-info New Edition