
extends ../layout

include ../includes/admin-mixins

append content
 
  .main  

append scripts
  script 
    define('editview', 
      [ 'editions/editionview', 'editions/editionmodel', 'jquery' ], 
      function(EditionView, EditionModel) {

        // Create view
        var view = new EditionView({
          model: new EditionModel(!{JSON.stringify(edition)}),
          instructors : !{JSON.stringify(instructors)},
          courses : !{JSON.stringify(courses)},
          el: $('.main')
        });

        // render it
        view.render();

      });

   