extends ../layout


append content
  .container
    ul
      li
        a(href="/admin/courses") Courses
      li
        a(href="/admin/users") Users
      li
        a(href="/admin/editions") Editions
