extends ../layout
include ../includes/admin-mixins

append content
 
  .main  

append scripts
  script 
    define('editview', 
      [ 'instructors/instructorview', 'instructors/instructormodel' ], 
      function(InstructorView, InstructorModel) {

        var instructorView = new InstructorView({
          model: new InstructorModel( !{ JSON.stringify(instructor) } ),
          courses: !{JSON.stringify(courses)},
          el: $('.main')
        }).render();

    });
