extends ../layout

include ../includes/admin-mixins

append content

  h2 Your course's editions
  
  ul
    -editions.forEach(function (edition) {
      li
        a(href="/courses/" + edition.courseUUID + "/editions/" + edition.id )  (#{edition.date}) #{edition.courseName} - #{edition.address}
    -})

  
