extends ../layout

include ../includes/admin-mixins

append content

  h2 Your editions

  -if(editions.length > 0)
    table.table.table-striped
      thead
        tr
          td Date
          td Course
          td Venue
          td State
      body
        -editions.forEach(function (edition) {
          tr
            td
              a( href="/courses/" + edition.courseUUID + "/editions/" + edition.id )  #{edition.date} 
            td #{edition.course.name}
            td #{edition.address} 
            td 
              span( class='label label-'+ edition.state) #{edition.state}
        -})
  -else
    p No editions found

  
