extends ../layout

include ../includes/admin-mixins

append content
  ss
  ul
    -users.forEach(function (user) {
      li
        a(href="/admin/users/" + user._id ) !{user.name} (!{user.email})
    -})

  a(href="/admin/users/new").btn.btn-info New User
  
