extends ../layout

include ../includes/admin-mixins

append content

  h2 Instructors & admins 
  
  ul
    -users.forEach(function (user) {
      li
        a(href="/users/" + user.id ) 
          if (user.name)
            &nbsp; #{user.name} 
          else
            &nbsp; --
          &nbsp; (#{user.email})
    -})

  if (locals.currentUser && locals.currentUser.admin) 
    a(href="/users/new").btn.btn-primary New User
  
