extends ../layout

include ../includes/admin-mixins

append content
  
  ul
    -users.forEach(function (user) {
      li
        a(href="/users/" + user._id ) #{user.name} (#{user.email})
    -})

  if (locals.currentUser && locals.currentUser.admin) 
    a(href="/users/new").btn.btn-info New User
  
