extends ../layout

include ../includes/admin-mixins

append content
  ss
  ul
    -users.forEach(function (user) {
      li
        h3
          a(href="/users/" + user._id ) !{user.email}
        p !{users.email}
    -})

  a(href="/users/new").btn.btn-info New User
  
