@import "bootstrap/bootstrap";
@import "bootstrap/responsive";

@import "modules/home";

body {
  padding-top: 40px;
}

/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/