doctype 5
html( lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    //if lt IE 10
      script
        window.location.href=/(http(s?):\/\/[^\/]+).*/.exec(window.location.href)[1] + '/browser-not-supported.html'
  body
    .navbar.navbar-fixed-top 
      .navbar-inner
        .container 

          //- btn-navbar is used as the toggle for collapsed navbar content 
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
          a.brand(href="/") InstructorMatters
          
          .nav-collapse
            
            ul.nav 
              li
                a(href="/following") Next editions  
              li
                a(href="/courses") Courses  
              li
                a(href="/instructors/videos") Videos  
              li
                a(href="/instructors") Instructors
              li 
                 a(href="/pricing") Pricing
              li 
                a(href="/contactUs") Contact
              li
                if(locals.currentUser && ! locals.isAdmin)
                  a(href="/myeditions") My editions

                if(locals.isAdmin)
                  a(href="/users") Users
             
            ul.nav.pull-right
              if (locals.currentUser) 
                li.dropdown.user
                  a.dropdown-toggle.user(href="#", data-toggle="dropdown") #{locals.currentUser.name} 
                    b.caret  
                  ul.dropdown-menu
                    li
                      a(href='/instructors/' + locals.currentUser.id) My Profile

                    li 
                      a(href='/logout') Logout 
              else
                li
                  a(href='/login')
                    i.icon-user
                    &nbsp;Login

    block main_content

    script(src='/js/app.js')
    script(src='/js/lib/require.js')
    
    block scripts