extends bare-layout

append main_content
  header.header_wrapper
    .wrapper
      h1.header-title.header-2 #{title}
  section.wrapper.main-content
    //- .container-fluid
    .messages-container 
    block content

   