
<td><input type="text" name="url" value="{{url}}" class="span5" required
  placeholder="http[s]://www.youtube.com/watch?v={videoid}"  
  pattern="http(s)?://www.youtube.com/watch\?v=.+">
<td>
  <select name="locale">
    <option value="es">Spanish</option>
    <option value="en">English</option>
  </select>
<td><a class="btn btn-danger delete"><i class="icon-trash icon-white"></i> Delete </a>
