
<div class="videos-messages-container "></div>
<br/>
<form id="videosForm">
  <label>Videos:</label>
  <a class="addVideo">Add Video</a>
  <table class="table table-bordered  table-striped ">
    <thead>
      <tr><th>Data<th>Video<th>&nbsp;</tr>
    </thead>
    <tbody >
    </tbody>
  </table>
</form>    


