
<td><input type="text" name="url" value="{{url}}" placeholder="http[s]://www.youtube.com/watch?v={videoid}" required pattern="http(s)?://www.youtube.com/watch\?v=.+">
<td><input type="text" name="locale" value="{{locale}}">
<td><a class="btn btn-danger delete"><i class="icon-trash icon-white"></i> Delete </a>
