<div class="videos-messages-container"></div>
<form>
  <a class="addVideo">Add Video</a>
  <table class="table table-bordered  table-striped ">
    <thead>
      <tr><th>URL<th>locale<th>Course<th>&nbsp;</tr>
    </thead>
    <tbody >
    </tbody>
  </table>
  <input type="submit" class="btn btn save" value="Save videos"/>
</form>    


