<strong>URL Videos:</strong>
<table class="table table-bordered  table-striped ">
  <thead>
    <tr><th>URL<th>locale<th>Course<th>&nbsp;</tr>
  </thead>
  <tbody >
  </tbody>
</table>
<button class="add btn" tabindex="100">Add Video</button>
