html {
  height: 100%;
}
body {
  font-size: 14px;
  color: #717576;
  line-height: 1.5em;
  height: 100%;
}
a {
  cursor: pointer;
}
.enumeration {
  display: inline;
  &> li {
    display: inline;

    &:not(:last-child):after {
      content: ", ";
    }
  }
}

.header_wrapper {
  color: white;
  //height: 80px;
  background-color: @acqua;
  margin-bottom: 10px;
}

.header_wrapper  h2 {
  margin-top: 10px;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}

// mensaje de validacion de webkit
// el valor por defecto es
// http://trac.webkit.org/browser/trunk/Source/WebCore/css/html.css?rev=81155#L588
::-webkit-validation-bubble-message {
  font: @sansFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 0 6px rgba(204,204,204,0.7)
}