@font-face {
    font-family: 'social';
    src: url('fonts/social/ksocial-webfont.eot');
    src: url('fonts/social/ksocial-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/social/ksocial-webfont.woff') format('woff'),
         url('fonts/social/ksocial-webfont.ttf') format('truetype'),
         url('fonts/social/ksocial-webfont.svg#ksocialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Fico';
  src: url(fonts/fico/fico.eot);
  src: url(fonts/fico/fico.eot?#iefix4) format('embedded-opentype'),
       url(fonts/fico/fico.ttf) format('truetype'),
       url(fonts/fico/fico.svg#fico) format('svg');
}

.fico {
  font-family: Fico;
}

.social {
    font-family: social;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}