footer {
  margin-top: 20px;
  .box-shadow(0 0 5px @abisso);
  background-color: @acqua;
  .background-size(20px 20px);
  #gradient > .striped(darken(@acqua, 10%), -45deg);
  color:#fff;
}
footer .brand {
  color: @terraterra;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
.social-link {
  font-family: social;
  font-size: 27px;
  background-color: @terraterra;
  color: @abisso;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  margin: 9px 8px 0 0;
  vertical-align: top;
  .transition(width 1s 1s easeout);
  &:hover {
    text-decoration: none;
    background-color: @abisso;
    color: @terraterra;
    // width: auto;
  }
}
.license {
  line-height: 50px;
  float: right;
  margin-right: 20px;
  color: @terraterra;
  &:hover {
    color: @terra;
  }
}
