
.footer {  
  border-top: 1px solid #fff;
  background: url('../img/noise.png') #a00;
}

.footer .inner { 
  color: #fff;
  border-top: 1px solid #000;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  line-height: 1.3em;
  font-style: normal;
  word-spacing: 1px;
}

.footer h3 { 
  font-weight: 400;
  border-bottom: 1px solid #fff;
  background: url('../img/bg-footer.png');
  padding: 5px;
}
