.header-home {
  min-height: 170px;
  padding: 20px 0;
  background: @acqua url(/img/home.png) no-repeat 100% 100%;
  .box-shadow(0 0 5px @abisso);
}

.header-home > .wrapper {
  padding-top: 20px;
}

.home-h1 {
  margin: 0;
  font-size: 42px;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-home-p {
  font-size: 16px;
  color: #aff;
  text-align: left;
  word-spacing: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

.home-features {
  height: auto;
  padding-top: 10px;
}
// .home-features h1{
//   font-family: 'Vollkorn', serif;
//   color: #6B6B6B;
//   font-weight: 400;
//   line-height: 1.3em;
//   font-style: normal;
//   word-spacing: 1px;
//   text-align: center;
//   font-size: 32px;
// }
.feature-img {
//  height: 220px;
  display: block;
  margin: 10px auto 15px 0;
}

.home-edition{
  background-color: @acqua;
  color: white;
  padding: 1px;
  word-spacing: 3px;
  .box-shadow(0 0 1px @abisso);
 
}
.home-edition-venue {
  font-weight: bold
}

.clients-container {
  box-sizing: border-box;
  text-align: center;

  display: table;
}

[class^="client-"] {
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  .hide-text();

  background-image: url(/img/clients-html5.png);
  background-size: 539px;
  background-repeat: no-repeat;
}

.client-indra {
  width: 110px;
  background-position: 0px 0px;
}
.client-everis {
  width: 110px;
  background-position: -465px 0px;
}
.client-everis {
  width: 78px;
  background-position: -468px 0px;
}
.client-accenture {
  width: 113px;
  background-position: -105px 0px;
}
.client-uji {
  width: 116px;
  background-position: -354px 0px;
}
.client-onu {
  width: 135px;
  background-position: -214px 0px;
}

.trustedBy {
  white-space: nowrap;
}

.trustedBy, .clients-list {
  display: table-cell;
  vertical-align: middle;
}

