.video-thumbnail {
  width: 100%;
}
.video-container {
  position: relative;
  .locale {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.video-caption {
  font-size: 12px;
  margin-top: 5px;
}