.video-thumbnail {
  width: 100%;
  box-shadow: 0 0 5px #031634;
}
.video-container {
  position: relative;
  .locale {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.certified-true {
  background: url(img/instructor-badge.png) no-repeat 0 0;
  display: block;
  height: 100px;
  padding: 0 0 0 50px;
  overflow: hidden;
}

.video-caption {
  font-size: 12px;
  margin-top: 5px;
}

.video-title {
  display: block;
  font-weight: bold;
}

.video-snapshot {
  box-shadow: 0 0 5px #031634;
}

.video-instructor {
  display: block;
}
.video-length {
  color:gray;
}

.video-likes {
  color:green;
}

.video-dislikes {
  color:red;
}

img.profile {
  box-shadow: 0 0 5px #031634;
}
  

