.video-thumbnail {
  width: 100%;
}
.video-container {
  position: relative;
  .locale {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.video-caption {
  font-size: 12px;
  margin-top: 5px;
}
.certified-true {
  background: url(img/instructor-badge.png) no-repeat 0 0;
  display: block;
  height: 100px;
  padding: 0 0 0 50px;
  overflow: hidden;
}