.google-login {
  float: left;

  width: 80px;
  height: 80px;
  margin-right: 20px;


  font-size: 0;
  font-family: 'a';

  background: url(http://aux.iconpedia.net/uploads/1570855644654910859.png);
  background-size: 80px;
}