body {
  // el espacio del navbar
  padding-top: @navbarHeight + 16px;
}
.navbar .brand, 
footer .brand {
  display: block;
  height: 34px;
  padding: 0 0 0 50px;
  margin: 8px 10px;
  overflow: hidden;
  line-height: @navbarHeight;
  color: #333;
  background: url(../img/logo.png) no-repeat 0 0;
  font-family: 'myriad_cond', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: @acquaprofonda;
}

.matters {
  color: darken(@terra, 10%);
}

.navbar li{
  color: #6B6B6B;
  font-weight: 400;
  line-height: 1.3em;
  font-style: normal;
  word-spacing: 1px;
}


.navbar .nav > li > a {
  padding: 8px;
  line-height: @navbarHeight;
}

.navbar .nav > li > a.user {
  color: #A00;
}

.navbar-inner {
  min-height: 40px;
}
/*
.navbar-fixed-top { 
  border-bottom: 1px solid #000;
  position: static;
}
*/
