
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1170px;
  }
}

@media (max-width: 979px) {

  .navbar-fixed-top {
    margin-bottom: 0;
  }
  .navbar .brand {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 767px) {

  body {
    padding: 0;
  }
  .wrapper {
    width: auto;
    padding: 0 20px;
  }

  .home-image-slider, footer {
    margin-left: -20px;
    margin-right: -20px;
  }

  .home-image-slider {
    padding: 0 20px;
  }
  .feature-img {
    max-height: 160px;
    float: right;
  }

  .checklist {
    clear: none;
  }

  .video-container {
    margin-left: auto !important;
    margin-right: auto;
    margin-bottom: 30px;
  }

}