<form class="well">

  <input type="hidden" name="courseUUID" value="{{course.uuid}}"/>   
  <input type="hidden" name="editionId" value="{{edition.id}}/>" 

  <label> Your email</label>
  <input name="from" type="email" value="{{contactrequest.from}}">

  <label>Your message</label>
  <textarea name="text" value="{{contactrequest.body}}"/>

  <input type="submit" class="btn btn-primary" value="Send"/>

</form>