<form class="well">

  <label> Your email</label>
  <input name="from" type="email" required >

  <label>Your message</label>
  <textarea name="text" class="contact-message" required>{{message}}</textarea>

  <div class="control-group">
    <div id="recaptcha"/>
    <input type="submit" id="send" class="btn btn-primary" value="Send" data-loading-text="Sending..." data-original-text="Send" />
  </div>

</form>