<form class="well">

  <label> Your email</label>
  <input name="from" type="email" >

  <label>Your message</label>
  <textarea name="text" class="contact-message">{{message}}</textarea>

  <div class="control-group">
    <div id="recaptcha"/>
    <button type="button" id="send" data-loading-text="Sending..." class="btn btn-primary">Send</button>
  </div>

</form>