extends ../bare-layout

append main_content
  .header_wrapper
    .container-fluid
      .page-heading
        h1.center= title
        p.center Ehm... page not found. 
        img.center(src="/img/dog_reading.jpg", alt="Sorry. We keep trying, yes?")
