extends ../bare-layout

append main_content
  header.header_wrapper
    .wrapper
      h1.center= title
  .wrapper
    p.center This was not supposed to happen: 
    pre #{error.message}
    img.center(src="/img/woman_car.jpg", alt="Talk about moving targets...")