<form class="well">

  <label>User e-mail: </label>
  <input name="email" type="text" value="{{user.email}}" required>

  <label>User name: </label>
  <input name="name" type="text" value="{{user.name}}" >
 
  <p>
    <input type="submit" class="btn btn-primary" value="Save" />

  {{#if user.id}}
    <a id="delete"user class="btn btn-danger" ><i class="icon-trash icon-white"></i> Delete</a>
  {{/if}}

  <a id="list"user class="btn"><i class="icon-list"></i> List</a>
  
</form>