extends ../layout

append content
  .contact
    h2 Get in touch and our representative will get back to you within 24 hours

    
    p We want to hear from you! Just enter your name, email address, and message into the form below and send away.
    .contactform

    .span5 
      p
        strong Address 
        br 
        | 123 Street Name, Suite # 
        br
        |City, State 12345, Country 
      p
        strong Phone
        br
        | Phone: (123) 123-4567
        br 
        | Fax: (123) 123-4567

append scripts
  script
    define('contactView',
      ['editions/contactrequestview', 'editions/contactrequestmodel', 'jquery'],

      function(ContactRequestView, ContactRequestModel) {
        var view = new ContactRequestView({
          model: new ContactRequestModel(),
          adressee: {},
          el: $('.contactform')
        });

        view.render();
      });



      
  
  








