extends ../layout

append content
  .row-fluid
    section.span6
      p To contact us, just fill in the following form and click send.
      .contactform

    section.span6(itemscope, itemtype="http://schema.org/Organization")
      p
        b(itemprop="name") InstructorMatters 
        | is a registered trademark of Extrema Sistemas S.L.
      p 
        span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
          span(itemprop="streetAddress") Casas de Miravete 24A
          br
          | <span itemprop="postalCode">28031</span> <span itemprop="addressLocality">Madrid</span> <span itemprop="addressCountry">Spain</span> 
          br
          | <a href="http://goo.gl/maps/3nDy" target"_blank">&raquo; see in Google Maps</a>
          meta(name="addressRegion", content="Madrid")
        br
        b Phone:
        a(itemprop="telephone", href="tel:+34911727081") +34 91 172 7081
append scripts
  script(src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js")
  script
    define('contactView',
      ['editions/contactrequestview', 'editions/contactrequestmodel', 'jquery'],

      function(ContactRequestView, ContactRequestModel) {
        var view = new ContactRequestView({
          model: new ContactRequestModel(),
          adressee: {},
          el: $('.contactform')
        });

        view.render();
      });



      
  
  








