extends ../layout
append content
    
    .row-fluid
      section.span8
        p The following is the list of courses supported by InstructorMatters. We are into making them grow, so if you feel like something is missing, drop us a line on <a href="http://twitter.com/instmatters">Twitter</a>.

        if (locals.currentUser && locals.currentUser.admin) 
          a(href="/courses/new").btn.btn-primary New Course
        -courses.forEach(function (course) {
          .row-fluid
            h2.header-3= course.name
            p #{course.description} 
            //- each uservideos in course.videos
            -if(course.videos && course.videos.length > 0)
              .videos
                each video in course.videos
                  mixin videoItem(video)
          .row-fluid
            a.btn(href="/courses/" + course.uuid) More info

        -})
      section.span4.upcoming-editions
        h1.header-3 Upcoming
        ul.upcoming-list
          -editions.forEach( function (edition) {
            mixin homeEditionItem(edition)
            
          -})
 


