extends ../layout

append content

    h2 Our courses
    
    ul
      -courses.forEach(function (course) {
        li
          a(href="/courses/" + course.uuid ) #{course.name}
              
      -})

    if (locals.currentUser && locals.currentUser.admin) 
      a(href="/courses/new").btn.btn-primary New Course
 


