extends ../layout


append content

  .container
    
    p Here, the following the editions :

    ul
      -editions.forEach(function (edition) {
        li
          a(href="/courses/" + edition.courseUUID + "/editions/" + edition.id )  (#{edition.date}) #{edition.courseName} - #{edition.venue}
      -})


