extends ../layout

append content

    h2 Our next courses
    
    ul.list2
      -editions.forEach(function (edition) {
        li
          .span5
            h3 #{edition.course.name}
            p #{edition.date} - #{edition.venue}
            p #{edition.course.description}
            a.btn.btn-large( href='/courses/' + edition.courseUUID + '/editions/' + edition.id)
              &nbsp; Go for it !!
          
           
      -})
