extends ../bare-layout

append main_content

  .home-header_wrapper
    .home-image-slider
      .container-fluid
        .row-fluid
          .span12
            h2 HTML5 &amp; CSS3
            p 600+ slides, 30+ labs and 90+ embedded interactive examples. That's a lot of work.
            a.btn.btn-danger(href='http://html5.instructormatters.com') Get it now

    .home-features
      .container-fluid
        .row-fluid
          .span3
            img.feature-img.hidden-phone( src="/img/html5.png", alt="HTML5 and CSS3")
          .span9
            h3 What's this?
            p A 24-hour introductory course to HTML5 and CSS3. It's not intended to be an exhaustive guide to All Things Web, but more of an introduction to the current state of web development. <a href="http://html5.instructormatters.com">See the contents</a>.
        hr
        .row-fluid
          .span2
            img.feature-img( src="/img/dog.png", alt="")
          .span4
            h3 Instructor matters
            p We believe that in order to "get" things, real people need to sit with someone with real-world experience. These slides and labs are next to nothing if they don't come with someone that has walked the talk.
          .span3
            h3 Pick & Mix
            p These materials are open source; cut, paste and shuffle the course contents to make it fit your own schedule. 
            p Remove the parts that you don't like, dig deeper where you do, and when ready contribute back your results to make a better course.
          .span3
            img.hidden-phone.feature-img( src="/img/apple.png", alt="")
