extends ../layout
include ../includes/admin-mixins

append content

  section.row-fluid
    .span3
      figure.profile
        img.profile-img(src='https://profiles.google.com/s2/photos/profile/' + instructor.googleId, title=instructor.name, alt=instructor.name)
        figcaption
          p.address #{instructor.address}
            br
            a(target='_blank', href= instructor.googleMapURL) (show in google maps)
    .span8
      if(locals.currentUser && locals.currentUser.email == instructor.email) 
        a.btn.edit.pull-right(href='/instructors/' + instructor.id + '/edit') 
          i.icon-user
          &nbsp;Edit
      
      if (instructor.aboutMe)
        h1.header-3 About me:
        p  #{instructor.aboutMe}
     
    
      -if(instructor.coursesWithInfo.length > 0)  
        h2.header-3 Courses:
        ul.courses-list.enumeration
          -instructor.coursesWithInfo.forEach(function (course) {
            mixin courseItem(course.name, course.uuid, course.certified)
          -})
    
  section.row-fluid
    .span12
      -if(instructor.videos.length > 0)  
        h1.header-3 Videos:
        .row-fluid
          -instructor.videos.forEach(function (video) {
            mixin videoItem(video)
          -})


  

