extends ../layout
include ../includes/admin-mixins

append content
  .container-fluid
    .row-fluid.map-container
      .span3.instructors
        -instructors.forEach(function (instructor) {
            a.instructor(data-id=instructor.id, href="/instructors/#{instructor.id}")= instructor.name
            p.address= instructor.address
        -})

      .span9
        .map.hidden-phone //- (style="height:100%")

append scripts
  script 
    define('view', 
      [ 'instructors/instructorcollectionview' ], 

      function(CollectionView) {
        new CollectionView({
          el: $('.map-container'),
          instructors: !{json}
        }).render();
      }
    );

