extends ../layout


append content

  .row-fluid
    .span6
      h1.header-2 Sign in with your Google Account
      a(href="/login-auth", title="Login with your Google Account").google-login
      p The <b>InstructorMatters</b> account is linked to a Google Account.<br>It is pretty easy to <a href="https://accounts.google.com/SignUp">get one</a>.
    .span6
      h2.header-2 Join <b>InstructorMatters</b>
      p Sign up in <b>InstructorMatters</b> and start organizing your courses:
      ul
        li Set up your profile and appear in our <a href="/instructors">instructors map.</a>
        li Upload your videos and show the world what a good instructor you are.
        li Get contacted by potential attendants.
        li Announce your upcoming editions.
        li Get a pretty instructor badge <span class="certified-badge"></span>. We know you love badges.
  .row-fluid
    .span3
      h1.header-3 Account details
      p We need only pretty basic stuff from your Google Account. Your email will not even be public, we have contact forms for that.
      p <b>We do not have access to your password.</b>
    .span3
      h1.header-3 Cookies
      p This website uses cookies to keep your session for a while. You can avoid it by disabling them in your browser.
 
  //- .main  
  //-   form(method="post", action='/login')
  //-     fieldset
       
  //-         p
  //-           label(for="username") Username:
  //-             input(type="text", name="username", value=user.name, required)
  //-         p
  //-           label(for="password") password:
  //-             input(type="password", name="password", required)
  //-         p.buttons
  //-           input(type="submit", value="Login")

