extends ../layout

append content
  p There are different options to get advantage of these courses.
  .row-fluid
    .span4
      section.pricing
        h3 STARTER
        .price FREE
        ul.checklist
          li Free access to slides, labs and interactive examples
          li Permission to use, edit and mix the course contents
          li Assimilate the contents at your own rythm
    .span4
      section.pricing.certified
        h3 CERTIFIED INSTRUCTOR
        .price <span class="currency">&euro;</span>2500
        ul.checklist
          li Assistance to one of our train-the-instructor courses.
          li InstructorMatters.com account valid for three years.
          li Contact details and up to three videos on the InstructorMatters.com website.
          li Get your courses included on the course listings.
          li Generate certificates for your own courses (&euro;20 each)
        p.center
          button.btn.btn-danger Sign up
    .span4
      section.pricing.yours
        h3 YOUR COURSE
        .price <span class="currency">&euro;</span>YOUR-PRICE-HERE
        ul.checklist
          li Set your own price to your courses, combining your favorite subjects
          li This is an available option for all instructors, certified or not
  .row-fluid
    .span6
      h3 Set Your Price
      p Certified or not, you are free to resell this course at your own price. You don't have to pay anything for that.
      p You can fork the repository and start selling your own courses, modifying the contents as needed. We only require that you keep the reference to InstructorMatters on any derivative works.
      h3 Attendees certificates
      p Certified instructors can purchase online PDF certificates for their courses (at a cost of 20 EUR each). Each attendee will receive a link that can be printed at home. Check out an example.
    .span6
      h3 Confused about anything?
      p Tell us your doubts and we will do our best to address them.
      .contactform

append scripts
  script
    define('contactView',
      ['editions/contactrequestview', 'editions/contactrequestmodel', 'jquery'],

      function(ContactRequestView, ContactRequestModel) {
        var view = new ContactRequestView({
          model: new ContactRequestModel(),
          adressee: { name: 'foo', email: 'bar' },
          el: $('.contactform')
        });

        view.render();
      });

