extends ../layout

append content

  .clearfix
    h2 Pricing tables
    hr
    .span4
      .pricing
        table
          thead
            tr
              th STARTER
          tfoot
            tr 
              td
                a.btn.btn-primary.btn-large Sign up
          tbody
            tr
              td.focus $10.00
                span  per month
            tr
              td
                h6 Domains
                p 500
    .span4
      .pricing 
        table
          thead
            tr
              th BEST CHOICE
          tfoot
            tr 
              td
                a.btn.btn-primary.btn-large Sign up
          tbody
            tr
              td.focus $10.00
                span  per month
            tr
              td
                h6 Domains
                p 500
    .span3
      .pricing
        table
          thead
            tr
              th FREE
          tfoot
            tr 
              td
                a.btn.btn-primary.btn-large Sign up
          tbody
            tr
              td.focus $10.00
                span  per month
            tr
              td
                h6 Domains
                p 500
    
    .row
      .span10
        h2 foo 
        hr
      .span4
        ul.list1
          li a
          li b
          li c
      .span4
        ul.list2
          li 1
          li 2
          li 3
      .span3
        ul.list3
          li I
          li II
          li III
    p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.








