<form>
  <input type="submit" class="btn btn-primary save" value="Save"/>
  <table class="table table-bordered  ">
    <thead>
      <tr><th>Name<th>e-mail<th>Company<th>&nbsp;</tr>
    </thead>
    <tbody >
    </tbody>
  </table>
  <a class="btn addCertificate"><i class="icon-file"></i> New Certificate</a>
</form>    