<td>
  <input name="name" type="text" value="{{certificate.name}}" required>
</td>

<td>  
  <input name="email" type="text" value="{{certificate.email}}" required>
</td>  

<td>
  <input name="company" type="text" value="{{certificate.company}}">
</td>

<td>
  <a class="btn btn-danger deleteCertificate" ><i class="icon-trash icon-white"></i> Delete</a>
</td>

