<form>
  <a class="addCertificate">Add Certificate</a>
  <table class="table table-bordered  table-striped ">
    <thead>
      <tr><th>Name<th>e-mail<th>Company<th>&nbsp;</tr>
    </thead>
    <tbody >
    </tbody>
  </table>
  <input type="submit" class="btn btn-primary save" value="Save Certificates"/>
</form>    