<form class="well">

  <label>Course name: </label>
  <input name="name" type="text" value="{{course.name}}" required="required">
 
  <label>Duration: </label>
  <input name="duration" type="text" value="{{course.duration}}">

  <label>Description: </label>
  <input name="description" type="text" value="{{course.description}}">

  <p>
    <input type="submit" class="btn btn-primary" value="Save" />

  {{#if course.id}}
    <a class="btn btn-danger" href="#" id="delete"><i class="icon-trash icon-white"></i> Delete</a>
  {{/if}}

  <a href="#" id="back">Back</a>
  
</form>